.fullsize {
  width: 100%;
  height: 100%;
}
.header {
  background-color: #11;
  text-align: center;
  padding: 50px;
}
/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: blue;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 25x;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
.content
{
  float: left;
  padding: 90px;
}
.content.left {
  width: 10%;
}

.content.right {
  width: 70%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
